.Container {
  --gap: 0.8em;
  position: fixed;
  /*border: 2px solid slateblue;*/
  z-index: 500;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap);
  transform-origin: top center;
  /*transition: all 0.2s;*/
  pointer-events: none;
  /*perspective: 500px;
  perspective-origin: center;*/
}

.Container > * {
  flex: 1 1 auto;
}

.Head {
  width: 100%;
  transform: rotate(180deg);
}

.Piece {
  width: 35%;
  animation: move infinite 0.8s linear;
}

.Piece:nth-last-child(2) {
  animation: move infinite 0.8s linear, fade-out infinite 0.8s ease-in;
  opacity: 0;
}

.Piece:first-child {
  animation: move infinite 0.8s linear, fade-out reverse infinite 0.8s ease-in;
  opacity: 1;
}

@keyframes fade-out {
  from,
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes move {
  from {
    transform: rotate(180deg) translateY(calc(50% + var(--gap)));
  }
  to {
    transform: rotate(180deg) translateY(-50%);
  }
}
