.Scene {
  display: grid;
  grid-template-rows: auto 10fr auto;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f7cac9;
  overflow: hidden;
}

.Scene > * {
  border: 1px solid black;
}
